<!DOCTYPE html>
<html>
  <head>
    <title>Airport API</title>
    <link rel="stylesheet" type="text/css" href="../style.css" />
  </head>
  <body>
    <header>
      <img class="siteIcon" src="paper-plane.png" />
      <h1 class="siteName">MyFlights</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/airports">Airports</a></li>
        <li><a href="/add-airport">Add Airport</a></li>
        <li><a href="/flights">Flights</a></li>
        <li><a href="/add-flight">Add Flight</a></li>
      </ul>
    </nav>
    <main>
      <form onsubmit="edit(event)">
        <label for="departureAirportCode">Departure airport</label>
        <select id="departureAirportCode">
          <% for(var i = 0; i < airports.length; i++) { if(true){ %>
          <option value="<%= airports[i].code %>" selected>
            <%= airports[i].airport_name %>
          </option>
          <% } else{ %>
          <option value="<%= airports[i].code %>">
            <%= airports[i].airport_name %>
          </option>
          <% }} %>
        </select>

        <label for="destinationAirportCode">Destination airport</label>
        <select id="destinationAirportCode">
          <% for(var i = 0; i < airports.length; i++) { if(true){ %>
          <option value="<%= airports[i].code %>" selected>
            <%= airports[i].airport_name %>
          </option>
          <% } else{ %>
          <option value="<%= airports[i].code %>">
            <%= airports[i].airport_name %>
          </option>
          <% }} %>
        </select>

        <label for="departureTime">Departure time</label>
        <input id="departureTime" value="<%= flight.departure_time %>" />

        <label for="duration">Duration</label>
        <input id="duration" value="<%= flight.duration %>" />

        <input type="submit" value="Edit" />
      </form>
    </main>

    <script>
      function edit(event) {
        event.preventDefault();

        const payload = {
          departureAirportCode: document.querySelector("#departureAirportCode")
            .value,
          destinationAirportCode: document.querySelector(
            "#destinationAirportCode"
          ).value,
          departureTime: document.querySelector("#departureTime").value,
          duration: document.querySelector("#duration").value,
        };

        fetch("/api/flights/<%= flight.id %>", {
          method: "PUT",
          headers: { "content-type": "application/json" },
          body: JSON.stringify(payload),
        })
          .then(() => location.replace(location.origin + "/flights"))
          .catch(() => alert("Could not edit flight."));
      }
    </script>
  </body>
</html>
